<div>
    <input type="text" disabled value="<%= url%>"> <br>
    <button id="copy">Copiar</button> 
    <script>
        const copy = document.getElementById('copy')

        const copyToClipboard = text => {
            navigator.clipboard.writeText(text)
            .then(() => alert("Copiado para área de transferência!"))
        }

        copy.onclick = () => {
            const text = "<%= url%>"
            copyToClipboard(text)
        }
    </script>
</div>